<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>
<body>
    <table>
        <tr>
            <td><a href="/api/calendar">Test API response</a></td>
        </tr>
        <tr>
            <td><a href="/get_creds">Get creds</a></td>
        </tr>
        <tr>
            <td><a href="/calendar">Test calendar request</a></td>
        </tr>
        <tr>
            <td><a href="/authorize">Test the auth flow directly</a></td>
            <td>
                Go directly to the authorization flow. If there are stored credentials, you still might not be prompted to reauthorize the application.
            </td>
        </tr>
    </table>
</body>
</html>
