#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  position: fixed;
  top: 2vw;   /* 2% of viewport width from the top */
  left: 2vw;  /* 2% of viewport width from the left */
  width: 5vw; /* 5% of the viewport width */
  height: auto; /* Maintaining aspect ratio */
}